.image-display {
  margin-top: 20px;
  
  img {
    border-radius: 12px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    width: 90%;
    max-width: 400px;
    height: auto;
    border: 2px solid var(--ion-color-primary);
  }

  h3 {
    color: var(--ion-color-dark);
    font-weight: bold;
  }
}