<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Menú de Deportes</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  
  <div class="ion-text-center">
    <h2>Seleccione una Opción</h2>
  </div>

  <ion-list lines="full" class="ion-margin-bottom">
    <ion-item button (click)="selectSport('futbol')">
      <ion-label>Ir a Fútbol</ion-label>
    </ion-item>
    <ion-item button (click)="selectSport('ecuavoley')">
      <ion-label>Ir a Ecuavoley</ion-label>
    </ion-item>
    <ion-item button (click)="selectSport('padel')">
      <ion-label>Ir a Padel</ion-label>
    </ion-item>
  </ion-list>

  <div class="image-display ion-text-center">
    <div *ngIf="selectedSport === 'futbol'">
      <h3>Cancha de Fútbol</h3>
      <img src="https://images.unsplash.com/photo-1574629810360-7efbbe195018?w=500" alt="Futbol">
    </div>

    <div *ngIf="selectedSport === 'ecuavoley'">
      <h3>Cancha de Ecuavoley</h3>
      <img src="https://images.unsplash.com/photo-1592656094267-764a4515957e?w=500" alt="Ecuavoley">
    </div>

    <div *ngIf="selectedSport === 'padel'">
      <h3>Cancha de Padel</h3>
      <img src="https://images.unsplash.com/photo-1626224580175-340ad0e3a73d?w=500" alt="Padel">
    </div>

    <p *ngIf="selectedSport === ''">Elige un deporte del menú para ver la imagen.</p>
  </div>
</ion-content>