<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
    <strong>Ready to create an app?</strong>
    <p>Start with Ionic <a target="_blank" rel="noopener noreferrer" href="https://ionicframework.com/docs/components">UI Components</a></p>
  </div>

  <ion-button routerLink="/reprise" expand="block" shape="round" color="tertiary" class="main-button">
    <ion-icon name="play-circle-outline" slot="start"></ion-icon>
    VER REPRISE DE PARTIDOS
  </ion-button>

  <ion-button routerLink="/login" fill="clear" color="medium">
    Cerrar Sesión
  </ion-button>
</ion-content>