.welcome-container {
  margin-top: 25%; // Baja el contenido para que no pegue al header
  margin-bottom: 40px;

  ion-icon {
    font-size: 80px; // Tamaño grande para el icono de trofeo
  }

  h1 {
    font-weight: 800; // Letra más gruesa para el título
    margin-top: 10px;
  }
  
  p {
    color: var(--ion-color-medium);
  }
}

.main-button {
  height: 60px; // Hace el botón más alto y fácil de presionar
  font-weight: bold;
  --box-shadow: 0 4px 15px rgba(0,0,0,0.15);
}