<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>Sports App Ecuador</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding ion-text-center">
  <div class="welcome-container">
    <ion-icon name="trophy" size="large" color="warning"></ion-icon>
    <h1>¡Bienvenido!</h1>
    <p>¿Qué deporte quieres ver hoy?</p>
  </div>

  <ion-button routerLink="/reprise" expand="block" shape="round" color="tertiary" class="main-button">
    <ion-icon name="play-circle-outline" slot="start"></ion-icon>
    VER REPRISE DE PARTIDOS
  </ion-button>

  <ion-button routerLink="/login" fill="clear" color="medium">
    Cerrar Sesión
  </ion-button>
</ion-content>